html{
    background-color: #404040;
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #d8d8d8;
}
body{
    margin:0;
    padding:8px;
}
.buttons{
    border:2px solid #aaaaaa;
    border-radius:20px;
    background-color: #a2a2a2;
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px 5px 15px;
}
.smallbuttons{
    border:2px solid #aaaaaa;
    border-radius:50px;
    background-color: #a2a2a2;
    cursor: pointer;
    margin: 5px;
    padding: 5px 5px 5px 5px;
}
h1{
    text-align:center;
}
#outputwidth{
    width:4em;
}
#outputheight{
    width:4em;
}
.padleftspan{
    padding-left:5em;
}
label{
    display:inline;
    user-select: none;
}
input{
    display:inline;
}
#inputdir{
    width:70%;
}
#outputdir{
    width:70%;
}
#customffmpegoptions{
    width:100%;
}
#proxyjobprogress{
    width: 95%;
    margin-left: 2.5%;
}
#activitylog{
    border: 1px solid grey;
    margin: 0 10px;
    padding: 1em;
    border-radius: 10px;
    color:#bfb6b6;
    overflow-y: scroll;
    height: 200px;
    font-size:.8em;
}
.activitylogitemsstart{
    color:#6cd26c;
}
.activitylogitemserror{
    color:#ff5454;
}
.activitylogitemsdone{
    color:#4787e8;
}
.activitylogitemsalreadyexists{
    color:#FFB200;
}
.activitylogtime{
    color:#1E90FF;
    font-size:.7rem;
    margin-right:1rem;
}
#startmakingproxies,#scaninputdir{
    background-color:#1D61F4;
}
#fpsprogress{
    font-size:75%;
    color:#4787E8;
}
#advancedsettings{
    background-color: #636363;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 1px solid #929292;
}
.help{
    cursor:pointer;
}
.helpbox{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.65);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    font-size: 1.5em;
    overflow-y: scroll;
}
.helpboxcloser{
    cursor:pointer;
    float: right;
    margin-top: .1em;
    margin-right: .25em;
    font-size: 2em;
}
.helpboxcontent{
    background:#404040;
    border: 7px solid white;
    border-radius: 1em;
    padding: 1em;
}
datalist {
    position: absolute;
    background-color: #b9b4b4;
    font-family: sans-serif;
    font-size: 0.8rem;
}
option {
    color:black;
    background-color: #dedede;
    padding: 4px;
    margin-bottom: 1px;
    cursor: pointer;
}
#showinputdirhistory,#showoutputdirhistory{
    margin-right: -7px;
    margin-left: 10px;
    font-size: 1.2em;
    vertical-align: middle;
    cursor: pointer;
}
#burnintimecodecolor,#burnintextcolor,#burnintimecodebordercolor,#burnintextbordercolor{
    width: 6em;
}
#pauseproxyjob,#killproxyjob{
    background-color: #a27116;
}
#burnintext{
    font-size:30px;
    width:640px;
    height:360px;
    overflow-wrap: unset;
    padding: 3px;
    overflow:hidden;
    border: 1px solid white;
    align-items: center;
    justify-content:center;
    white-space:nowrap;
    display:flex;
    flex-flow:column;
    background: linear-gradient(90deg, rgb(108 105 150) 0%, rgba(117,117,222,1) 47%, rgba(0,212,255,1) 100%);
    transform: scale(1);
    transform-origin: left top;
    line-height: .9em;
}
#burnintextpreviewshrink100{
    background-color:#e6a731;
}
.leafname,.lenstype{
    color:#EFBE38
}
.format_long_name,.reel{
    color:#CF49AE;
}
.size,.scene{
    color:#AB7EE5;
}
.rez,.take{
    color:#84A6F2;
}
.fps,.wb{
    color:#5CD2C0;
}
.duration,.exposure{
    color:#67C774;
}
.creationdate{
    color:#E17D8B;
}
.cameraindex,.cameramodel{
    color:#C3CB43;
}
#htmlgalleryfilename{
    width:20em;
}
#tabheaders{
    font-size: 1.5em;
    user-select: none;
}
.tabhead{
    display:inline-block;
    border-top-left-radius:     1em;
    border-top-right-radius:    1em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
    background-color: #57575d;
    padding: .5em;
    cursor:pointer;
}
#proxytabhead{

}
#abouttabhead{
    background-color: #737373;
}
#settingstabhead{
    background-color: #8a8a8a;
}
#proxytab{
    border-top-left-radius: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: .5em;
    background-color: #57575d;
}
#abouttab{
    border-top-left-radius: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1em;
    background-color: #737373;
}
#settingstab{
    border-top-left-radius: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1em;
    background-color: #8a8a8a;
}
#largestatus{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFC800;
    padding-top: 20vh;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
#esctip{
    position:absolute;
    color:#ffffff73;
    font-size:2rem;
    top:.5rem;
    left:.5rem;
}
#largestatuscontent{
    font-size: 50vh;
    color: white;
    -webkit-text-stroke: 10px black;
    text-align: center;
    font-family: monospace;
    line-height: 50vh;
}

@keyframes jobcompleteflash {
  from {background-color: #FFC800;}
  to {background-color: #FF0062;}
}